<%- include("header/header") -%>

<main>
    <div class="container">
        <section class="section register min-vh-100 d-flex flex-column align-items-center justify-content-center py-4">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-4 col-md-6 d-flex flex-column align-items-center justify-content-center">
                        <div class="card mb-3">
                            <div class="card-body">
                                <div class="pt-4 pb-2">
                                    <h5 class="card-title text-center pb-0 fs-4">Wachtwoord resetten</h5>
                                    <p class="text-center small">Stel hieronder jouw nieuwe wachtwoord in.</p>
                                </div>

                                <form class="row g-3 needs-validation" action="/user/forgot/password/reset" method="POST">
                                    <div class="col-12">
                                        <label class="form-label">Nieuwe wachtwoord</label>
                                        <p>
                                            <input id="password" type="password" name="newPassword" type="password" class="form-control" oninput="strengthChecker()"  value="<% if(typeof oldValue != "undefined"){%><%=oldValue%><%}%>">
                                            <i class="bi bi-eye-slash" id="toggleNewPassword"></i>
                                            <div id="strength-bar"></div>
                                            <p id="msg"></p>
                                        </p>
                                        <label class="form-error"><% if(typeof newPasswordErr != "undefined"){%><%=newPasswordErr%><%}%></label>
                                    

                                    
                                        <label class="form-label">Bevestig wachtwoord</label>
                                        <p>
                                            <input id="confirmNewPassword" type="password" name="confirmNewPassword"  class="form-control">
                                            <i class="bi bi-eye-slash" id="toggleConfirmNewPassword"></i>
                                        </p>
                                        <label class="form-error"><% if(typeof confirmPasswordErr != "undefined"){%><%=confirmPasswordErr%><%}%></label>
                                    </div>

                                    <input type="hidden" name="token" value="<%= token %>" />
                                    <input type="hidden" name="emailAddress" value="<%= emailAddress %>" />

                                    <div class="col-12">
                                        <button class="btn btn-primary w-100" type="submit">Bevestig nieuwe wachtwoord</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</main>
<!-- End #main -->

<script src="/assets/js/password.js"></script>

<script>
    const toggleNewPassword = document.querySelector("#toggleNewPassword");
    const newPassword = document.querySelector("#newPassword");

    const toggleConfirmNewPassword = document.querySelector("#toggleConfirmNewPassword");
    const confirmNewPassword = document.querySelector("#confirmNewPassword");

    toggleNewPassword.addEventListener("click", function (e) {
        const type = password.getAttribute("type") === "password" ? "text" : "password";
        password.setAttribute("type", type);
        this.classList.toggle("bi-eye");
    });

    toggleConfirmNewPassword.addEventListener("click", function (e) {
        const type = confirmNewPassword.getAttribute("type") === "password" ? "text" : "password";
        confirmNewPassword.setAttribute("type", type);
        this.classList.toggle("bi-eye");
    });

</script>

<%- include("footer/footer") -%>
